table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
}

input[type="text"], input[type="number"] {
    line-height: 1.8;
    width: 25%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 90%;
}

.section {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}
.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

body{
    background-color: #EEEEEE;
}
.table {
    border: 0.5px solid #000000;
  }
#test{
    background-color:  rgb(179, 208, 255, 0.3)
}
#heading{
    text-align: center;
}
#navbar{
    text-align: center;
}