#heady{
    background-color: #eeeeee;
    text-align: center;

}
#FAQ{
    text-align: center;
}
#imges{
    text-align: center;
}
body{
    background-color: #EEEEEE;
}

#texter{
    text-align: center;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
}


.heady1{
    background-color: #eeeeee;
    text-align: center;

}
.feedy{
    margin: 1rem;
}