{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>

          </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{quote_dict["symbol"]}}</td>
                <td>{{quote_dict["name"]}}</td>
                <td>{{quote_dict["price"] | usd}}</td>
            </tr>
        </tbody>

    </table>
{% endblock %}